<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          用户统计
        </h3>
      </div>
      <div class="panel-body">
        共 <%= User.count %> 位用户
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          目标统计
        </h3>
      </div>
      <div class="panel-body">
        共 <%= Goal.count %> 个目标
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          记录统计
        </h3>
      </div>
      <div class="panel-body">
        共 <%= Note.count %> 条记录
      </div>
    </div>
  </div>
  
</div>